.NumerosContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    gap: 25px;
}
input{
    border-radius: 50%;
    border: transparent;
    background-color: hsl(218, 17%, 26%);
    height: 50px;
    width: 50px;
}

input:hover{
    background-color:  hsl(25, 97%, 53%);
}

.NumerosContainer input:focus{
    background-color: hsl(217, 12%, 63%);
    color: white;
}